<h1>This is the root route</h1>

<p><%= @current_user.try(:email) %></p>


<p>
  <a href="/user">Sign Up</a>
</p>

<p>
  <a href="/login">Login</a>
</p>

<p>
 <a href="/logout">Logout</a>
</p>

 <hr/>

<p>
  <h4><a href="/pets">Veiw my Pets</a></h4>
</p>
