<h1>Pets#new</h1>
<p>Find me in app/views/pets/new.html.erb</p>


<%= form_for :pet, url: pets_path do |form| %>

<div class="row">
    <div class="col-md-12">
        <div class="mui-textfield">
            <%= form.text_field :name, id: 'name' %>
            <%= form.label :name, for: 'name' %>
        </div>
    </div>
</div>


<%= form.submit 'Add', :class => 'mui-btn mui-btn--primary' %>
<%end%>
